*{
    box-sizing: border-box;
}
section{
    background-color: rgb(189, 154, 154);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 position: relative;
}
.card{
    
box-shadow: inset 5px 5px 3px #d17ea594,
            inset -5px -5px 3px #92172b79;
                 
    background-color: #c2367c;
background-image: linear-gradient(0deg, #915d8500 0%, #be4242b9 100%);
    opacity: 10px;
    position: relative;
    top: 10%;
    border-radius: 20px;
    padding: 10px 10px 20px;
    text-align: center;
    }
a{
    text-decoration: none;
    cursor: pointer;
}
.img img{
    position: absolute;
    top: 0%;
 width: 280px;
}
.know{
   display: grid;
   margin-top: 15%;
}

strong{
    bottom: 10%;
}
.btn-grad{
    margin-top: 10%;
}
@media only screen and (max-width:768px){
.card{
  top: 0%;  
}
}

